{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Loader -->
<div class="loader" id="loader"></div>

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <div class="card-text">
                {% if card.media_file %}
                    <a href="{{ card.media_file.url }}" class="btn btn-primary" target="_blank" download>
                        <i class="fas fa-download"></i> Скачать медиа
                    </a>

                    <div class="mt-3">
                        {% include 'media_player.html' with card=card %}
                    </div>
                {% else %}
                    <p>Медиафайл отсутствует.</p>
                {% endif %}
            </div>
            <div class="btn-group mt-3" role="group" aria-label="Card Actions">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addMediaModal">
                    <i class="fas fa-upload"></i> Загрузить файл
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно для добавления медиафайла -->
<div class="modal fade {% if form_type == 'add_media' and not media_file_form.is_valid %}show{% endif %}" id="addMediaModal" tabindex="-1" role="dialog" aria-labelledby="addMediaModalLabel" aria-hidden="true" style="{% if form_type == 'add_media' and not media_file_form.is_valid %}display:block;{% else %}display:none;{% endif %}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data" action="">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="addMediaModalLabel">Добавить файл</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="id_media_file">Выберите файл</label>
                        <input type="file" name="media_file" class="form-control" id="id_media_file">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary" name="form_type" value="add_media">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    var modals = ['#addMediaModal'];
    modals.forEach(function(modalId) {
        var modalElement = document.querySelector(modalId);
        if (modalElement && modalElement.style.display === 'block') {
            var bsModal = new bootstrap.Modal(modalElement);
            bsModal.show();
        }
    });

    var closeButtons = document.querySelectorAll('.btn-close, .btn-secondary');
    closeButtons.forEach(function(button) {
        button.addEventListener('click', function() {
            var modal = bootstrap.Modal.getInstance(button.closest('.modal'));
            if (modal) {
                modal.hide();
            }
        });
    });
});
</script>
<script>
document.addEventListener('DOMContentLoaded', (event) => {
    const form = document.querySelector('form[method="post"][enctype="multipart/form-data"]');
    form.addEventListener('submit', function() {
        document.getElementById('loader').style.display = 'block';
    });
});
</script>
{% endblock %}

