{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!-- Loader -->
<div class="loader" id="loader"></div>

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <div class="card-text">
                {% if card.media_file %}

                        <a href="{{ card.media_file.url }}" class="btn btn-primary" target="_blank" download>
                            <i class="fas fa-download"></i> Скачать медиа
                        </a>

                    <div class="mt-3">
                        {% include 'media_player.html' with card=card %}
                    </div>
                {% else %}
                    <p>Медиафайл отсутствует.</p>
                {% endif %}
            </div>
            <div class="btn-group mt-3" role="group" aria-label="Card Actions">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addMediaModal">
        <i class="fas fa-upload"></i> Загрузить файл
    </button>
    {% if card.password %}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#changePasswordModal">
            <i class="fas fa-key"></i> Сменить пароль
        </button>
    {% else %}
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#setPasswordModal">
            <i class="fas fa-lock"></i> Установить пароль
        </button>
    {% endif %}
</div>
        </div>
    </div>
</div>

<!-- Модальное окно для добавления медиафайла -->
<div class="modal fade {% if form_type == 'add_media' and not media_file_form.is_valid %}show{% endif %}" id="addMediaModal" tabindex="-1" role="dialog" aria-labelledby="addMediaModalLabel" aria-hidden="true" style="{% if form_type == 'add_media' and not media_file_form.is_valid %}display:block;{% else %}display:none;{% endif %}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" enctype="multipart/form-data" action="">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="addMediaModalLabel">Добавить файл</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    {{ media_file_form|crispy }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary" name="form_type" value="add_media">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Модальное окно для установки пароля -->
<div class="modal fade {% if form_type == 'set_password' and not set_password_form.is_valid %}show{% endif %}" id="setPasswordModal" tabindex="-1" role="dialog" aria-labelledby="setPasswordModalLabel" aria-hidden="true" style="{% if form_type == 'set_password' and not set_password_form.is_valid %}display:block;{% else %}display:none;{% endif %}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="setPasswordModalLabel">Установить пароль</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    {{ set_password_form|crispy }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary" name="form_type" value="set_password">Установить</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Модальное окно для смены пароля -->
<div class="modal fade {% if form_type == 'change_password' and not change_password_form.is_valid %}show{% endif %}" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true" style="{% if form_type == 'change_password' and not change_password_form.is_valid %}display:block;{% else %}display:none;{% endif %}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="changePasswordModalLabel">Сменить пароль</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    {{ change_password_form.password|as_crispy_field }}
                    {{ change_password_form.new_password|as_crispy_field }}
                    {{ change_password_form.confirm_password|as_crispy_field }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    <button type="submit" class="btn btn-primary" name="form_type" value="change_password">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    var modals = ['#addMediaModal', '#setPasswordModal', '#changePasswordModal'];
    modals.forEach(function(modalId) {
        var modalElement = document.querySelector(modalId);
        if (modalElement && modalElement.style.display === 'block') {
            var bsModal = new bootstrap.Modal(modalElement);
            bsModal.show();
        }
    });

    var closeButtons = document.querySelectorAll('.btn-close, .btn-secondary');
    closeButtons.forEach(function(button) {
        button.addEventListener('click', function() {
            var modal = bootstrap.Modal.getInstance(button.closest('.modal'));
            if (modal) {
                modal.hide();
            }
        });
    });
});
</script>
<script>
document.addEventListener('DOMContentLoaded', (event) => {
    const form = document.querySelector('form[method="post"][enctype="multipart/form-data"]');
    form.addEventListener('submit', function() {
        document.getElementById('loader').style.display = 'block';
    });
});
</script>
{% endblock %}